@model Setting
@{
    ViewData["Title"] = "Detail";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Greeting</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">WorkHours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="~/assets/img/logo/@Model.Logo" alt="Alternate Text" /></td>
            <td>@Model.Greeting</td>
            <td>@Model.Email</td>
            <td>@Model.Phone</td>
            <td>@Model.Address</td>
            <td>@Model.WorkHours</td>
        </tr>
    </tbody>
</table>