@model IEnumerable<Blog>


<table class="table table-striped">
    <thead>
        <tr>

            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">PublisherName</th>
            <th scope="col">Status</th>
            <th scope="col">Setting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Blog blog in Model)
        {

        <tr>

            <td><img style="width:120%" src="~/assets/img/blog/@blog.Image" /></td>
            <td>@blog.Title</td>
            <td>@blog.Description</td>
            <td>@blog.PublisherName</td>
           <td style="color:@(blog.IsDeleted ? "red":"green")">@(blog.IsDeleted ? "DeActive":"Active")</td>
            <td>

                <a class="btn btn-warning" asp-action="Update" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex" asp-route-id="@blog.Id">Update</a>
                <a id="@(blog.IsDeleted ? "restoreTag":"deleteTag")" class="btn @(blog.IsDeleted ? "btn-primary":"btn-danger")" asp-route-status="@ViewBag.Status" asp-route-page="@ViewBag.PageIndex" asp-action="@(blog.IsDeleted ? "Restore":"Delete")" asp-route-id="@blog.Id">@(blog.IsDeleted ? "Restore":"Delete")</a>
            </td>
        </tr>
        }
    </tbody>
</table>

